.details-panel {
  background-color: white;
  height: calc(100vh);
  padding: 3em;
  padding-top: 0;
  overflow-y: scroll;
  width:auto;
  margin:0 16px;
  border-radius:10px;
}

.detail-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80vh;
}
