.search-area {
  background-color: #f6f6f8;
  height: 100vh;
  width: fit-content;
  padding: 1em;
  overflow-y: scroll;
  position: relative;
  width: 20%;
  min-width: 400px;
  display: block;
  max-width:220px;
  .search-container {
    display: flex;
  }
  .button-container {
    bottom: 0;
    position: fixed;
    z-index: 10;
    width: 284px;
  }
}
