.cost-form {
  background: #f5f5f5;
  padding-bottom: 80px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .energy-label-container {
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;
  }
  .inner-content {
    padding-top: 40px;
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .budget {
    grid-column: 1 / span 2;
  }
  // Layout positioning
  .budget,
  .residence,
  .stats,
  .download-button {
    // grid-column: 2;
  }

  .selected-measures {
    grid-column: 3;
    grid-row: 2 / span 3;
  }

  .measure-list {
    grid-column: 1 / -1;
  }

  @media (max-width: 768px) {
    .inner-content {
      grid-template-columns: 1fr;

      .budget,
      .residence,
      .stats,
      .selected-measures,
      .measure-list {
        grid-column: 1;
        grid-row: auto;
      }
    }
  }
}

.measure-list {
  .measure-group-title {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .measure-group {
    margin-bottom: 8px;
    .measure__name {
      display: flex;
      justify-content: space-between;
      max-block-size: 16px;
      height: 32px;
      margin-bottom: 10px;
    }
  }
  .measure {
    .price {
      font-weight: 500;
    }
  }
}
