.tile {
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgb(230, 230, 230);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__title {
    font-weight: 400;
    font-size: 24px;
  }
  &.residence {
    .residence__title {
      margin-bottom: 8px;
    }
  }
  &:has(.downloadPDF) {
    background-color: transparent;
    border:1px solid transparent;
  }
  .downloadPDF {
    display: flex;
    .pdf-download-btn {
      height: 54px;
    }
  }
}
.tile-grouper {
  display: flex;
  width: 100%;
  gap: 16px;
  >* {
    flex: 1;
  }
}

.tile-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 14px;
  width: 100%;
  border-bottom: 1px solid #eee;
}