// abstracts
@use "abstracts/variables";
@use "abstracts/functions";
@use "abstracts/mixins";

// animations
// @use "animations/animations";

// base
@use "base/typography";
@use "base/reset";
@use "base/general";

// ui components
@use "ui/footer";
@use "ui/header";
@use "ui/menu-link";
@use "ui/search-area";
@use "ui/search-bar";
@use "ui/search-results";
@use "ui/search-select";

// frontend components
@use "ui/frontend/hero";
@use "ui/frontend/project-form";
@use "ui/frontend/step";
@use "ui/frontend/calculation-form";
@use "ui/frontend/budget";
@use "ui/frontend/tile";
@use "ui/frontend/type-form";
@use "ui/frontend/cost-form";
@use "ui/frontend/measure-list";
@use "ui/frontend/selected-measure";
@use "ui/frontend/stats";






// details components
@use "ui/details-panel";
@use "ui/details/detail-confirmation";
@use "ui/details/detail-controls";


//forms
@use "ui/forms/measure-form";
@use "ui/form-field";
@use "ui/forms/residence-form";
@use "ui/forms/scenario-form";



@use "ui/buttons";

// shame
@use "shame";